*{
  margin: 10;
  padding: 0;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25pts;
  color: rgb(255, 255, 255);
  text-align: center;
}

body {
  background-color: rgb(0, 0, 0);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: 500px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  margin-top: 25px;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 250;
}

.cacheai {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cacheai:hover {
  color: #7f42a7;
  cursor: pointer;
}

nav {
  background-color: rgb(3, 3, 3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

nav a:hover {
  background-color: rgb(105, 104, 104);
}

input {
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  background-color: black;
  width: 100%;
  border: none;
  color: white;
  text-decoration: underline;
  appearance: none;
  padding-right: 100px;
  padding-top: 10px;
}

input[type=text] {
  font-size: 75px;
}

.question-header {
  margin-top: 105px;
  margin-left: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  block-size: 0%;
  justify-content: left;
  align-items: left;
  width: 100%;
  font-size: 25px;
  cursor: pointer;
}

.email-wrapper {
  padding: 25px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  block-size: 0%;
  justify-content: left;
  align-items: left;
  width: 100%;
  font-size: 25px;
  overflow: hidden;
  color: white;
}

.email-wrapper .textdecoration {
  background-color: grey;
}

.question-type { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  block-size: 0%;
  justify-content: left;
  align-items: left;
  width: 100%;
  font-size: 25px;
  overflow: hidden;
  color: white;
}

.btn-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 490px;
  width: 20%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor:pointer;
  text-decoration: none;
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 660px;
  width: 10%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor:pointer;
  text-decoration: none;
}

.btn-get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #2a2a2a;
  padding: 0.7rem 1.2rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: background-color 0.2s ease;
}

.btn-get-started:hover {
  background-color: #ffffff;
}
